body {
	background-color:#77b1a9;
	color:#77b1a9;
}


#QuoteBox {
	overflow:auto;
	border-radius:3%;
	margin: 5% 20% 1% 20%;
	padding:2%;
	
	background-color:white;
}

#Quote {
	text-align:center;
	font-size:2em;
}

#Author {
	margin:2% 0 2% 0 ;
	text-align:center;
	font-size:1em;
}

.button {
	border-radius:10%;
	padding:1.5%;
	font-size:1.1em;
	
	border:none;
	cursor:pointer;
	color:white;
	background-color:#77b1a9;
}
.button:hover {
	opacity:0.8;
}

#Tweet {
	float:left;
}

#NewQuote {
	float:right;
}




